<!--l. 16--><p class="noindent" > <script type="text/javascript" language="javascript"> function toggle(abstract) { var divele = document.getElementById(abstract+"div"); var button = document.getElementById(abstract); if(divele.style.display == "block") { divele.style.display = "none"; button.innerHTML = "abstract"; } else { divele.style.display = "block"; button.innerHTML = "abstract"; } } </script> 
</p>
<h3 class="likesectionHead"><a 
 id="x1-1000"></a>Grants</h3>
<!--l. 53--><p class="noindent" >
</p>
<h4 class="subsectionHead"><a 
 id="x1-2000"></a>Funded in Korea</h4>
<!--l. 56--><p class="noindent" >
     <ol reversed="reversed"><li>
 (PI) &#8220;&#52572;&#51201;&#54868; &#48169;&#48277;&#47200; &#50997;&#54633; &#50672;&#44396;&#47484; &#53685;&#54620; SCM &#44228;&#54925; &#49688;&#47549; &#54532;&#47196;&#49464;&#49828; &#54952;&#50984;&#54868;,&#8221; &#49340;&#49457;&#51204;&#51088;,  2024.10.15&#8211;2025.10.14
     <li>
 (Co-PI) &#8220;GS-KAIST &#48120;&#47000; &#46020;&#49884; &#51064;&#44277;&#51648;&#45733; &#54645;&#49900; &#44592;&#49696; &#50672;&#44396;&#44060;&#48156;,&#8221; GS&#44148;&#49444;, 2024.08.12&#8211;
     <li>
 (PI) &#8220;Integrating machine learning prediction and optimization for routing wildfire detection drones
     (&#47672;&#49888;&#47084;&#45789; &#50696;&#52769;&#44284; &#52572;&#51201;&#54868;&#51032; &#50997;&#54633;&#51012; &#53685;&#54620; &#49328;&#48520; &#53456;&#49353; &#46300;&#47200;&#51032; &#44221;&#47196; &#44208;&#51221;),&#8221; National Research Foundation (NRF) of Korea,  2024.09.01&#8211;2025.08.31
     <li>
 (Co-PI) &#8220;Deep Learning Foundation Model for Combinatorial Optimization and Its Applications
     to Various Industrial Problems (&#51312;&#54633; &#52572;&#51201;&#54868; &#47928;&#51228; &#54644;&#44208;&#51012; &#50948;&#54620; &#51064;&#44277;&#51648;&#45733; &#44592;&#52488;&#47784;&#45944; &#44060;&#48156;&#44284; &#51060;&#47484; &#54876;&#50857;&#54620; &#45796;&#50577;&#54620; &#49328;&#50629;&#47928;&#51228; &#54644;&#44208;),&#8221; National Research Foundation (NRF) of Korea,
     2024.08.01&#8211;2027.04.30
     <li>
 (PI) &#8220;KAIST&#48152;&#46020;&#52404;&#50672;&#44396;&#51648;&#50896;&#44552; 2&#44592;,&#8221; &#49340;&#49457;&#51204;&#51088;,  2024.03.01&#8211;2027.02.28
     <li>
 (PI) &#8220;&#54637;&#44277; &#47784;&#48716;&#47532;&#54000; &#50868;&#51076; &#44228;&#54925; &#48143; &#51116;&#47924;&#51201;&#50689;&#54693; &#48516;&#49437;,&#8221; &#46972;&#45768;&#50500;&#53412;&#50500;,  2024.03.04&#8211;2024.06.04
     <li>
 (Co-PI) &#8220;GS-&#48260;&#54000;&#54252;&#53944; &#50868;&#50857;&#44060;&#45392; &#49688;&#47549;,&#8221; GS&#44148;&#49444;,  2024.06.01&#8211;2024.12.31
     <li>
 (PI) &#8220;AI-based Next-Generation Optimization Algorithms for Smart Logistics (&#49828;&#47560;&#53944; &#47932;&#47448;&#47484; &#50948;&#54620; &#51064;&#44277;&#51648;&#45733; &#44592;&#48152; &#52264;&#49464;&#45824; &#52572;&#51201;&#54868; &#50508;&#44256;&#47532;&#51608;),&#8221; National
     Research Foundation (NRF) of Korea,  2023.10.01&#8211;2026.12.31
     <li>
 (co-PI)  &#8220;Hybrid  Neural  Combinatorial  Optimization  Methods  for  Smart  Factory  Material
     Handling,&#8221;  National Research Foundation (NRF) of Korea,   PI: Young Jae Jang (KAIST),
     2021.07.01&#8211;2022.06.30 (This project supports my research during sabbatical at KAIST.)</ol>
</p><!--l. 80--><p class="noindent" >
</p>
<h4 class="subsectionHead"><a 
 id="x1-3000"></a>Funded in the U.S.</h4>
<!--l. 83--><p class="noindent" >
     <ol reversed="reversed"><li>
 (co-PI)  &#8220;POSE:  Phase  II:  CONNECT:  Consortium  of  Open-source  plaNNing  models  for
     Next-generation Equitable and efficient Communities and Transportation,&#8221; National Science
     Foundation (NSF), , 08/15/2023&#8211;07/31/2025,  <a 
href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2303748" >[TI-2303748]</a>
                                                                                   
                                                                                   
     <li>
 (PI) &#8220;Collaborative Research: Arc Routing Problems in Combined Drone/Truck Fleets,&#8221; National
     Science Foundation (NSF),  7/1/2021&#8211;6/30/2024,  <a 
href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2032458" >[CMMI-2032458]</a>
     <li>
 (PI)  &#8220;The  17th  INFORMS  Computing  Society  Conference  2022,&#8221;  USF  Research  &amp;  Innovation
     Conference   Support   Grant,   ,   co-PI:   Hadi   Charkhgard   (USF),   Tapas   Das   (USF),
     1/23/2022&#8212;1/25/2022
     <li>
 (PI) &#8220;Cobblestone OR1: Improving Milk Distribution Planning,&#8221;  Cobblestone Milk Cooperative,
     Inc.,  6/1/2021&#8211;8/9/2021
     <li>
 (PI) &#8220;Converting Convenience Stores from Sources of Unhealthy Foods to Hubs of Healthy Food
     Deliveries,&#8221; Creative Research Grant, USF Research &amp; Innovation,  5/1/2020&#8211;4/30/2021
     <li>
 (PI) &#8220;Measuring the Impact of the Large-scale Adoption of Ridesharing on the Spread of Infectious
     Diseases,&#8221; U.S. Department of Transportation (US DOT) through Center for Transportation,
     Environment, and Community Health (CTECH), , co-PIs: Tapas Das (USF), Miguel Reina
     (USF), 10/1/2019&#8211;9/30/2020
     <li>
 (PI)  &#8220;Market  Design  Approaches  for  Fashion  Goods  Distribution,&#8221;  2019  USF  Nexus  Initiative
     Awards: Faculty Global/National Collaborations,  5/28/2019&#8211;12/31/2021
     <li>
 (PI) &#8220;Efficient Operations of Free-Floating Electric-Car Sharing Systems Considering Energy-Aware
     Customers,&#8221;  INFORMS  TSL  Cross-regional  Collaborative  Grant,  ,  co-PI:  Sang  Won  Kim
     (CUHK), 2019
     <li>
 (PI) &#8220;Creating and Designing New Markets for Fractional Ownership of Autonomous Vehicles&#8221;,
     Proposal Enhancement Grant, USF Research &amp; Innovation,  co-PI: Hadi Charkhgard (USF),
     5/1/2018&#8211;4/30/2019.
     <li>
 (co-PI) &#8220;Applying Location-based Informatics, Simulation, and Optimization Methods to Forklift
     Driver Behavior, Congestion, and Wireless Charging Studies&#8221;, Toyota Material Handing North
     America,    PI:  Sang  Won  Yoon  (Binghamton),  co-PI:  Sung  Hoon  Chung  (Binghamton),
     12/1/2016&#8211;11/30/2017.
     <li>
 (PI) &#8220;Regulating Hazardous-materials Transportation with Behavioral Modeling of Drivers,&#8221; U.S.
     Department of Transportation (US DOT) through Center for Transportation, Environment,
     and Community Health (CTECH), , 11/30/2016&#8211;11/29/2017
     <li>
 (co-PI)  &#8220;Market  Potential  for  Battery  Electric  Vehicles  based  on  Multi-Day  Activity-Travel
     Patterns&#8221;, U.S. Department of Transportation (US DOT) through University Transportation
     Research Center (UTRC),  PI: Jee Eun Kang (SUNY Buffalo), co-PI: Joan Lucas (Brockport),
     5/1/2015&#8211;7/31/2016
     <li>
 (PI) &#8220;CAREER: Advancing Routing Methods in Hazardous Materials Transportation&#8221;, National
     Science Foundation (NSF),  08/01/2014&#8211;07/31/2019,  <a 
href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1351357" >[CMMI-1351357]</a>
     <li>
 (co-PI) &#8220;Effective and Equitable Supply of Gasoline to Impacted Areas in the Aftermath of a Natural
     Disaster&#8221;, U.S. Department of Transportation (US DOT) through University Transportation
     Research Center (UTRC), PI: Rajan Batta (SUNY Buffalo), 03/01/2014&#8211;05/31/2015
                                                                                   
                                                                                   
     <li>
 (co-PI)  &#8220;The  Ties  that  Bind:  Developing  a  Bi-national  Transportation-Combined  Economic
     Simulation Model to Assess Security and Policy Implications of US-Canada Border Bridges&#8221;,
     U.S. Department of Transportation (US DOT) through University Transportation Research
     Center (UTRC), PI: Jiyoung Park (SUNY Buffalo), co-PI: Kathryn Friedman (SUNY Buffalo),
     02/01/2014&#8211;08/31/2015
     <li>
 (PI) SUNY Innovative Instruction Technology Grant, &#8220;Developing an Interactive Web-Application
     for    Instructions    Involving    Networks&#8221;,       co-PI:    Ann    Bisantz    (SUNY    Buffalo),
     06/01/2013&#8211;06/30/2014  <a 
href="http://www.suny.edu/provost/IITGdescrip2013.cfm#KwonUB" >[SUNY IITG 2013]</a>
     <li>
 (PI)  Research  and  Innovative  Technology  Administration  (RITA)  /  U.S.  Department  of
     Transportation  (US  DOT)  through  University  Transportation  Research  Center  (UTRC),
     Emerging Investigators Program, &#8220;Real-time Dynamic Pricing for Bicycle Sharing Programs&#8221;,
     10/01/2012&#8211;08/31/2014  <a 
href="https://rip.trb.org/browse/dproject.asp?n=32945" >[RITA 49997-34-24]</a>
     <li>
 (PI)  Research  and  Innovative  Technology  Administration  (RITA)  /  U.S.  Department  of
     Transportation  (US  DOT)  through  University  Transportation  Research  Center  (UTRC),
     &#8220;Towards Socially and Economically Sustainable Urban Developments&#8221;, co-Is: Jiyoung Park
     (SUNY Buffalo), Qian Wang (SUNY Buffalo), 12/23/2011&#8211;09/30/2012  <a 
href="http://rip.trb.org/browse/dproject.asp?n=29283" >[RITA 49111-23-23]</a>
     <li>
 (PI) Goodwill Industries of WNY, Inc. through the Center for Industrial Effectiveness, &#8220;Processing
     Area Improvement Initiative&#8221;, 11/30/2011&#8211;5/30/2012
     <li>
 (PI) &#8220;Collaborative Research: Regulating Hazardous Materials Transportation by Multi-Objective
     Dual Toll Pricing&#8221;, National Science Foundation (NSF),  co-PIs: Rajan Batta (SUNY Buffalo),
     09/01/2011&#8211;08/31/2014  <a 
href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1068585" >[CMMI-1068585]</a>
     <li>
 (PI)  Research  and  Innovative  Technology  Administration  (RITA)  /  U.S.  Department  of
     Transportation  (US  DOT)  through  University  Transportation  Research  Center  (UTRC),
     Faculty Development Minigrants, &#8220;Robust Routing for Hazardous Materials Transportation
     with  Conditional  Value-at-Risk  on  Time-Dependent  Networks&#8221;,    07/01/2011&#8211;09/30/2012
     <a 
href="http://rip.trb.org/browse/dproject.asp?n=28668" >[RITA 49111-07-23]</a>
     <li>
 (PI) Efficient Schools Team, LLC., Buffalo, NY, through The Center for Industrial Effectiveness,
     &#8220;Food Service Efficiency &amp; Capacity Analysis Study/Assessment&#8221;,  03/30/2011&#8211;09/30/2011
     <li>
 (PI) Embassy of Canada in Washington, D.C., &#8220;Economic Implications of the Canada-US Border
     Bridges: Applying a Transportation-Combined Multiregional Input-Output Model for Canada
     and the U.S.&#8221;,  co-PI: Jiyoung Park (SUNY Buffalo), 03/01/2011&#8211;02/28/2012  <a 
href="http://www.canadainternational.gc.ca/washington/studies-etudes/recipients-destinaires.aspx?lang=eng#research-recherche" >[link]</a>
     <li>
 (co-PI) The Canadian-American Studies Committee, Fall 2010 Grant Competition, , PI: Jiyoung
     Park (SUNY Buffalo), 2010
     </ol>
</p>
 
