<ol class="myarticles">
{% for pub in site.data.pub_non_comet %}
    <li>{{ pub.authors }} ({{ pub.year }}) <a class="article_title" href="https://scholar.google.com/scholar?hl=en&q={{ pub.title | url_encode }}">{{ pub.title }}</a>. <span class="ecbi-1000">{{ pub.journal }}</span>{% if pub.volume %}, {{ pub.volume }}{% endif %}{% if pub.issue %}({{ pub.issue }}){% endif %}{% if pub.pages %}, {{ pub.pages }}{% endif %}.{% if pub.doi %} <span><a class="klink" data-type="doi" href="https://doi.org/{{ pub.doi }}">doi</a></span>{% endif %}{% if pub.abstract %} <a id="{{ pub.id }}" class="abstract_button" onclick="toggle('{{ pub.id }}')">abstract</a>
    <div class="abstractbg" id="{{ pub.id }}div" style="display:none;">{{ pub.abstract }}</div>{% endif %}
    </li>
{% endfor %}
</ol>
