<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/dark_theme.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />


    <!-- MathJax -->
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {
				inlineMath: [['$','$'], ['\\(','\\)']],
				processEscapes: true
			}
		});
    </script>
    <!-- <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> -->
    <!-- <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"> -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>


    <!-- jQuery -->
    <script src="/lib/jquery-3.6.1.min.js"></script>


    <script>
        function usf_email(account) {
            var emailAddress = (account + '@' + 'usf.edu');
            document.write('<a href="mailto:' + emailAddress + '">' + emailAddress + '</a>');
        }
        function kaist_email(account) {
            var emailAddress = (account + '@' + 'kaist' + '.ac.kr');
            document.write('<a href="mailto:' + emailAddress + '">' + emailAddress + '</a>');
        }        
    </script>

</head>
<body>

<br>

<div class="container">
    <div class="row site-header">
        <!-- <a href="{{ site.url }}" class="site-title">{{ site.title }}</a> -->
            <span class="site-title">{{ site.title }}</span>
            <small>&nbsp;&nbsp; {{ site.description }}</small>
    </div>
</div>        

<div class="container">
    <div class="row site-header">
        <nav class="site-nav">
        {% assign pages = site.pages | sort:"weight"  %}
        {% for page in pages %}
            {% if page.tags contains "menu" %}
                <a href="{{ page.url }}" class="nav-item">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
        {% for page in site.pages %}
            {% if page.tags contains "contact" %}
                <a href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        {{ content }}
    </div>
</div>




<!-- Default Statcounter code for CK Home
http://www.chkwon.net -->
<script type="text/javascript">
    var sc_project=5309770; 
    var sc_invisible=1; 
    var sc_security="fe639e0c"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/5309770/0/fe639e0c/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

</body>
</html>
